@model homework_64_Atai.ViewModels.RegisterViewModel

<h2>Регистрация нового пользователя</h2>

<form method="post" asp-controller="Account" asp-action="Register">

   <div asp-validation-summary="ModelOnly"></div>

   <div>

      <strong>Name</strong><br />

       <input asp-for="UserName" />

       <span asp-validation-for="UserName"></span>

   </div>


   <div>
       <strong><label asp-for="Email"></label></strong><br />
       <input asp-for="Email" />
       <span asp-validation-for="Email"></span>
   </div>


   <div>

       <strong><label asp-for="Password"></label></strong><br />

       <input asp-for="Password" />

       <span asp-validation-for="Password"></span>

   </div>

   <div>

       <strong><label asp-for="ConfirmPassword"></label></strong><br />

       <input asp-for="ConfirmPassword" />

       <span asp-validation-for="ConfirmPassword"></span>

   </div>
   <div>

       <input type="submit" value="Регистрация" />

   </div>

</form>

@section Scripts

{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

    </script>
    @{
       await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}